<!doctype html>
<html>
  <head>
    <title>OMERO.player</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static "3rdparty/jquery-1.11.1.js" %}"></script>
    <style type="text/css">
      @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    </style>
  </head>
  <body>
    <div id='root'>
    </div>
    <script src="{% static 'player/bundle.min.js' %}"></script>
  </body>
</html>